[Unit]
Description=SSDP Bridging deamon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ssdpBridge --bridge
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
